@import url('libraries/hover.css');

* {
  box-sizing: border-box;
}

/*Top of page including HEADER, NAV LINKS, AND LOGO*/
.headerContainer,
.navLinksContainer {
  color: #727777;
  width: 40%;
  height: 180px;
  float: left;
  padding: 50px;
  position: relative;
}

.logoContainer {
  width: 20%;
  height: 180px;
  float: left;
  padding: 50px;
  padding-top: 10px;
}

.logoContainer img {
  width: 100%;
  height: auto;
}

.headerContainer {
  padding-right: 0px;
}

.articleLinks {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.navLinksContainer {
  padding-left: 10%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.navLinksContainer a {
  text-decoration: none;
  float: right;
  font-weight: bold;
  color: inherit;
  flex: 0.5;
  text-align: center;
  height: 50px;
  font-size: 17px;
}

.navLinksContainer a:hover {
  color: #26bbbf;
}

/*Welcome Banners*/
.homeBanner {
  float: left;
  width: 60%;
  max-height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #26bbbf;
  border-radius: 20px;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 6vw;
}

/* .homeBanner h2 {
  color: white;
  font-size: 6vw;
} */

.pageBanner {
  float: left;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  background-color: #26bbbf;
  border-radius: 20px;
  text-align: center;
}

.pageBanner h2 {
  color: white;
  font-size: 2vw;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.tileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  width: 100%; /* Take up full width of parent */
  max-width: 100%; /* Don't allow element to exceed width of parent */
}

.tile {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tileImage {
  max-width: 100%;
  max-height: 100%;
}

/*Card styles*/
.cardContainer {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 50px;
}

.leftCardContainer,
.middleCardContainer,
.rightCardContainer {
  height: 400px;
  border-style: solid;
  border-radius: 20px;
  border-color: #26bbbf;
  border-width: 5px;
  margin-bottom: 50px;
}

.leftCardContainer:hover,
.middleCardContainer:hover,
.rightCardContainer:hover {
  background-color: #eee;
}

.leftCardContainer {
  width: 30%;
  float: left;
  align-items: center;
  display: flex;
}

.middleCardContainer {
  display: flex;
  align-items: center;
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

.rightCardContainer {
  width: 30%;
  float: left;
}

.gamePreview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  max-height: 75%;
}

/* Breakout game CONTAINER and SLIDER containers and objects*/
.breakoutContainer {
  width: 60%;
  float: left;
  padding-top: 50px;
  margin-bottom: 200px;
}

.ballSizeSliderContainer,
.rowSliderContainer {
  float: right;
  width: 40%;
  padding-top: 100px;
}

#ballSizeSlider,
#rowSlider {
  float: left;
  margin-left: 10%;
}

/*Minesweeper game CONTAINER*/
.minesweeperContainer {
  width: 100%;
  float: left;
}

#minesweeperCanvas {
  background-color: #26bbbf;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.scoreboardContainer {
  width: 100%;
  float: left;
}

.scoreboard {
  height: 40px;
  /*  border-style: solid;
  border-color: #26BBBF;
  padding: 0;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/*.dropDown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  display: none;
}

.dropDown:hover .dropDownContent {
  display: block;
}

.dropDownContent {
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDownContent p:hover {
  background-color: #eee;
}

.show {
  display: block;
}
*/
.score {
  width: 33.33%;
  float: left;
  /*border-style: double;
  border-color: #26BBBF;*/
  height: 100%;
  font-size: 30px;
  color: #26bbbf;
  text-align: center;
}

.newGameContainer {
  width: 100%;
  float: left;
}

.timeContainer {
  float: left;
  width: 100%;
  text-align: center;
  color: #26bbbf;
}

.timeContainer h2 {
  padding: 0;
}

.newGameButton {
  width: 40%;
  padding: 0;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 20px;
  border-color: #26bbbf;
  background-color: white;
  color: #26bbbf;
  font-size: 2vw;
  padding: 10px;
  border-width: 2px;
}

.bestTimeContainer {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}

.bestTime {
  color: #26bbbf;
}

/*Removes outline when object is clicked on*/
*:focus {
  outline: none;
}

@media screen and (max-width: 1000px) {
  .navLinksContainer,
  .headerContainer,
  .logoContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: auto;
  }

  .logoContainer img {
    width: 20%;
  }
  .navLinksContainer a {
    float: none;
    vertical-align: middle;
    padding: 10px;
  }

  .breakoutContainer {
    width: 100%;
    padding-top: 30px;
  }

  #breakoutCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #ballSizeSlider,
  #rowSlider {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .pageBanner h2 {
    font-size: 4vw;
  }

  .leftCardContainer,
  .rightCardContainer,
  .middleCardContainer {
    float: left;
    margin: 0;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .score {
    font-size: 20px;
  }
}
