@import url("libraries/hover.css");

* {
  box-sizing: border-box;
}

.headerContainer, .navLinksContainer {
  color: black;
  width: 40%;
  height: 180px;
  float: left;
  padding: 50px;
  position: relative;
}

.logoContainer {
  width: 20%;
  height: 180px;
  float: left;
  padding: 50px;
  padding-top: 10px;
}

.logoContainer img {
  width: 100%;
  height: auto;
}

.headerContainer {
  padding-right: 0px;
}

.navLinksContainer {
  padding-left: 10%;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.navLinksContainer a {
  text-decoration: none;
  float: right;
  color: black;
  flex: .5;
  text-align: center;
  height: 50px;
}

.navLinksContainer a:hover {
  color: #26BBBF;
}

.breakoutContainer {
  width: 50%;
  float: left;
  padding-top: 100px;

}

.ballSizeSliderContainer, .rowSliderContainer {
  float: right;
  width: 50%;
  padding-top: 100px;
}

#ballSizeSlider, #rowSlider {
  float: left;
  margin-left: 10%;
}

*:focus {
  outline: none;
}

@media screen and (max-width: 1000px) {
  .navLinksContainer, .headerContainer, .logoContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: auto;
  }

  .logoContainer img {
    width: 20%;
  }
  .navLinksContainer a {
    float: none;
    vertical-align: middle;
    padding: 10px;
  }

  .breakoutContainer {
    width: 100%;
    padding-top: 0px;
  }

  #breakoutCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #ballSizeSlider, #rowSlider {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
