@import url("libraries/hover.css");

* {
  box-sizing: border-box;
}

.pageHeaders, .navLinks {
  color: black;
  width: 50%;
  height: 180px;
  float: left;
  padding: 50px;
  vertical-align: middle;
}

.navLinks a {
  text-decoration: none;
  float: right;
  color: black;
  vertical-align: bottom;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.navLinks a:hover {
  color: blue;
}

*:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  .navLinks, .pageHeaders {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  .navLinks a {
    float: none;
    vertical-align: middle;
    padding: 10px;
  }
  .slider {
    margin-right: 15%;
  }
  #breakoutCanvas {
    margin-left: 0%;
  }
}
